@import "ress";
@import "./var";

html {
  font-size: 62.5%;
}

.header {
  height: 100px;
  width: 100%;
  background-color: $header_bg_color;
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  position: fixed;
  z-index: 1;

  &__logo {
    height: 100px;
    width: 120px;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__list {
    font-size: 1.8rem;
    list-style: none;
    margin: 0 33px;
  }
  &__link {
    text-decoration: none;
    color: $text_color;
  }
}

.main {
  .top {
    &__img {
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.154),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/firstview.jpg);
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__tlt {
      text-align: center;
      color: #fff;
      font-size: 6rem;
      width: 100%;
      position: absolute;
      margin: 50px;
    }
    &__txt {
      font-size: 1.8rem;
      position: absolute;
      top: 430px;
      color: #fff;
      height: 80px;
      width: 400px;
    }
  }
  .content {
    padding: 50px;
    &__tlt {
      margin: 50px;
      text-align: center;
      font-size: 4.8rem;
    }
    &__wrap {
      display: flex;
      display: flex-wrap;
      img {
        height: 500px;
        width: 500px;
      }
    }
    &__info {
      margin-left: 63px;
    }
    &__sub-tlt {
      font-size: 3.6rem;
    }
    &__txt {
      margin-top: 32px;
      font-size: 1.8rem;
      width: 470px;
    }
  }

  .news {
    padding: 50px;
    &__tlt {
      margin: 50px;
      text-align: center;
      font-size: 4.8rem;
    }
    &__wrap {
      display: flex;
      justify-content: space-around;
    }
    &__info {
      width: 30%;
    }
    &__subtlt {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 32px;
    }
    &__txt {
      font-size: 1.8rem;
    }
  }
}
.footer {
  width: 100%;
  height: 70px;
  background-color: $footer_bg_color;
  display: flex;
  justify-content: center;
  align-items: center;
  &__txt {
    font-size: 1rem;
    color: #fff;
  }
}
